.headerForgetPassword {
  color: white;
  background: url("/nani-williams-6PpLqUlCA0s-unsplash-1.png");
}

.headerContent {
  margin-top: 9rem;
}

.lowerHeaderContent {
  margin-top: 6rem;
}

.inputWidth {
  width: 23rem;
}
/* 
.forgetPassBrown {
  background-color: 
} */
