.header {
  background-image: url("/nathan-dumlao-71u2fOofI-U-unsplash 2.png");
  color: #ffffff;
}

.headerLeft {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.headerLineHeight {
  line-height: 3rem;
}

.headerParagraphLineHeight {
  line-height: 2rem;
}

.yellowButton {
  background-color: #ffba33;
  border: 1px solid #ffba33;
  height: 49px;
  width: 180px;
  border-radius: 10px;
}

.headerCard {
  color: black;
}

.yellowBulletBackground {
  background-color: #ffba33;
  border: 1px solid #ffba33;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  position: relative;
}

.cardBulletImage {
  left: 50%;
  margin-left: -20%;
  top: 50%;
  margin-top: -30%;
  position: absolute;
}

.heartBulletSize {
  height: 20px;
  width: 20px;
}

.flexInsideCard {
  width: 8rem;
}

.bulletDescription {
  position: relative;
}

/* Experimental Row */
.headerCardBackground {
  left: 0;
  right: 0;
  top: 89%;
  margin: auto;
  max-width: 1140px;
  border-radius: 10px;
  box-shadow: 6px 0px 20px 0px #313131;
}

.headerCardRow {
  background-color: white;
  color: black;
  position: relative;
  border-radius: 10px;
}

.cardContentCenter {
  display: flex;
  justify-content: center;
}

@media (max-width: 575.98px) {
  .cardContentCenter {
    display: flex;
    justify-content: left;
  }
}

/* Second Row */
.secondRow {
  margin-top: 8rem;
}

.secondRowRight {
  top: 12%;
}

.secondRowRightHeader {
  line-height: 3rem;
}

.secondRowRightParagraph {
  line-height: 2rem;
}

.secondRowLeft {
  top: 50%;
  margin-top: -25%;
}

@media (max-width: 575.98px) {
  .secondRowLeft {
    top: 50%;
    margin-top: -25%;
    max-width: 381px;
    max-width: 303.859px;
  }
}

.secondRowRightLists {
  line-height: 2rem;
  list-style-image: url("/checklist.png");
}

/* Third Row */
.greyBackground {
  background-color: #f3f3f3;
}

.gridFavoriteRow {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 50rem;
}

.gridFavoriteCard {
  border: 1px solid #dddddd;
  border-radius: 10px;
  position: relative;
  min-height: 100%;
}

.divFavoriteCardInner {
  height: inherit;
}

.gridFavoritePicture {
  border-radius: 70px;
  top: -15%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.gridFavoriteDescription {
  position: relative;
  margin-top: 45%;
  font-weight: bold;
  height: 300px;
}

.gridFavoriteFooterSkin {
  height: 100%;
}

.gridFavoriteFooter {
  width: 100%;
  padding-bottom: 2rem;
}

.gridFavotireSelectButtonPosition {
  position: relative;
  bottom: 0;
  margin: bottom;
}

.gridFavoriteSelectButton {
  background-color: #ffba33;
  border: 1px solid #ffba33;
  position: relative;
  margin: auto;
  border-radius: 50px;
  height: 38px;
  width: 55%;
}

.gridFavoriteDescriptionLists {
  margin-top: 20%;
  line-height: 2rem;
  font-weight: normal;
  list-style-image: url("/blank_checklist.png");
}

.testimonyCard {
  height: 100%;
}

/* Near Footer Card */
.footerCardBackground {
  left: 0;
  right: 0;
  max-width: 60rem;
  top: 102%;
  margin: auto;
}

.headerCardRow {
  background-color: white;
  color: black;
  position: relative;
  border-radius: 10px;
}

/* Footer */
.footerSpacing {
  margin-top: 6rem;
}

@media (max-width: 786px) and (min-width: 577px) {
  .footerSpacing {
    margin-top: 10rem;
  }
}

@media (max-width: 576px) {
  .footerSpacing {
    margin-top: 18rem;
  }
}

.footerSpacingGrey {
  margin-top: 6rem;
  background-color: #ebebeb;
}
