.headerForgetPassword {
  color: white;
  background: url("/nani-williams-6PpLqUlCA0s-unsplash-1.png");
}

.headerContent {
  margin-top: 9rem;
}

.alert {
  max-width: 23rem;
}

.brownText {
  color: #6a4029;
}

.lowerHeaderContent {
  margin-top: 6rem;
}

.inputWidth {
  max-width: 23rem;
}

.resendLinkBrown {
  background-color: #6a4029;
  border: 1px solid #6a4029;
  height: 52px;
  width: 19rem;
  border-radius: 5px;
}
/* 
background: #6A4029;
height: 129px;
width: 554px;
left: 998px;
top: 816px;
border-radius: 20px;

*/
