.mainBackground {
  background: url("/bg2.png");
}
.mainContainer {
  padding: 52px 10px 160px 10px;
}
.title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.invoice {
  padding: 45px;
  margin-top: 50px;
  background: #ffffff;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
}
.titleInvoice {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 52px;
  color: #362115;
  text-align: center;
}
.Order {
  font-family: Poppins;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
}
.priceOrder {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin-top: 30px;
}
.imgOrder {
  margin-top: 5px;
  margin-left: 15px;
}
.cardOrder {
  margin-top: 40px;
  border: none;
}
.dropdown {
  width: 100%;
  background: #ffffff;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 138.84%;
  letter-spacing: 0.03em;
  color: #000000;
  text-align: left;
  padding: 20px 30px;
}
.dropdown:focus {
  background: white;
  color: #000000;
}
.dropdownMenu {
  width: 100%;
  background: #ffffff;
  border: 1px solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 20px;
}
.countInvoice {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #362115;
}
.nominal {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
  color: #362115;
}
.rowCount {
  margin-bottom: 5px;
}
.rowCountTotal {
  margin-top: 45px;
}
.countTotal {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  color: #362115;
}
.nominalTotal {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-align: right;
  color: #362115;
}
.colDetails {
  padding: 160px 60px;
}
.textDetails {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.edit {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  text-align: right;
  margin-top: 10px;
  cursor: pointer;
}
