.picturePlace {
  width: 50px;
  height: 43px;
}

.picturePlaceBackground {
  background-color: rgba(186, 186, 186, 0.35);
  border-radius: 50%;
  border: 1px solid rgba(186, 186, 186, 0.35);
  width: 220px;
  height: 220px;
}

.yellowishButton {
  background-color: #ffba33;
  border: 1px solid #ffba33;
  color: #6a4029;
  font-weight: bold;
  height: 59px;
  width: 100%;
  border-radius: 10px;
}

.brownButton {
  background-color: #6a4029;
  border: 1px solid #6a4029;
  color: white;
  font-weight: bold;
  height: 59px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 6px 20px 0px #000000;
}

.greyButton {
  background-color: rgba(186, 186, 186, 0.35);
  border: 1px solid rgba(186, 186, 186, 0.35);
  color: #5e5e5e;
  font-weight: bold;
  height: 59px;
  width: 100%;
  border-radius: 10px;
}

.boldBrownText {
  color: #6a4029;
  font-weight: bold;
}

.setPromoForm {
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
  margin-top: 1rem;
}

.yellowBullet {
  background-color: #ffba33;
  border: 1px solid #ffba33;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.greyBullet {
  background-color: rgba(186, 186, 186, 0.35);
  border: 1px solid rgba(186, 186, 186, 0.35);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  word-wrap: break-word;
}

.smallerFont {
  font-size: 9px;
}

.greyBackground {
  background-color: rgba(186, 186, 186, 0.35);
}
